.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.authSection {
  position: absolute;
  width: 23%;
  background-color: var(--whiteColor);
  top: 20%;
  box-shadow: 0px 0px 10px 0px var(--blackColor);
  z-index: 1;
  border-radius: 10px;
}

.titleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.titleDiv p {
  font-size: 2vw;
  line-height: 6vw;
  color: var(--navyColor1);
  font-weight: 700;
  margin: 0;
}

.titleDiv span {
  color: var(--purpleColor);
  font-weight: bolder;
}

.formDiv {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 7%;
}

#welcomeDiv {
  margin: 0;
  margin-top: -6%;
  margin-bottom: 6%;
}

#pHello {
  font-size: 1.4vw;
  line-height: 4vw;
  font-weight: 700;
  color: var(--navyColor1);
  font-weight: bold;
  margin: 0;
}

#pLogIn {
  font-size: 0.8vw;
  font-weight: 400;
  margin: 0;
  margin-top: -5%;
  color: var(--navyColor1);
}

.inputLabel {
  font-size: 0.8vw;
  font-weight: 600;
  color: var(--navyColor1);
  margin: 0;
}

.inputDiv {
  border-bottom: 2px solid var(--navyColor2);
  border-radius: 5px 5px;
  margin-top: 2%;
  margin-bottom: 5%;
  padding-bottom: 1%;
  width: 90%;
  display: flex;
}

.inputDiv img {
  position: relative;
  left: 3%;
  padding-right: 5%;
  margin-bottom: 2%;
}

.inputDiv input {
  border: none;
  margin-bottom: 2%;
}

#passReminder {
  font-size: 0.7vw;
  font-weight: 600;
  color: var(--purpleColor);
  margin: 0;
  text-decoration: none;
  position: relative;
  left: 65%;
}

#flex {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

#buttonDiv {
  display: flex;
  justify-content: center;
}

#submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purpleColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 15px;
  font-size: 0.8vw;
  font-weight: 600;
  width: 80%;
  height: 4.5vh;
  left: 10%;
  margin-top: 5%;
}

#submitButton img {
  margin-left: 5px;
}

#navigate {
  display: block;
  color: var(--navyColor1);
  font-weight: 500;
  margin-top: 5%;
}

#navigate a {
  text-decoration: none;
  color: var(--purpleColor);
}

.photo {
  max-width: 85vw;
  max-height: 85vh;
  position: absolute;
}

#photo1 {
  left: 11%;
  top: 7%;
  rotate: 180deg;
}

#photo2 {
  right: 22%;
  top: 10%;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.chart.error {
  animation: shake 0.5s;
}
